{% extends "base.html" %}

{% block content %}

    <h1>Etsi kuva</h1>

    <form action="/find_photo" method="get">
        <p>
            Hakusana: <input type="text" name="query" value="{{ query }}" required>
        </p>
        <input type="submit" value="Lähetä">
    </form>

    {% if error %}
    <p>{{ error }}</p>

    {% else %}
    
        {% if query %}
        <h2>Tulokset</h2>
        <ul>
            {% for photo in results %}
            <li> <a href="/photo/{{photo.id}}"> {{photo.description}}</a> </li>
            {% endfor %}
        </ul>

        {% else %}

        <p>Ei löytynyt kuvia kyseisellä hakusanalla.</p>
        
        {% endif %}
    {% endif %}

{% endblock %}