<!DOCTYPE html>
<html>

<head>
  <title>{{photo.description}}</title>
</head>

<body>
    <h1>{{photo.description}}</h1>
    {% if session.user_id ==  photo.user_id %}
    <p>
        <a href="/edit_photo/{{photo.id}}">Muokkaa kuvan tiedot</a>
        <a href="/remove_photo/{{photo.id}}">Poista</a>
    </p>

    {% endif %}
    <p>
        <img src="/image/{{photo.id}}">
    </p>
    <p> 
        Kuva on otettu: {{photo.seasons}}, {{photo.era}} luvulla
    </p>
    <p>
        Kuvan lähettäjä on {{photo.username}}
    </p>
    <p>
        <a href="/">Takaisin</a>
    </p>
    
    </body>

</html>
  